<form [formGroup]= "form">
  <label for="oldPassword">
    Old Password
  </label>
  <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword">
  <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
    <div *ngIf="oldPassword.errors.required">Old Password is required.</div>
    <div *ngIf="oldPassword.errors.notQualifyWithServer"> Old password is not valid.</div>
  </div>
  <label for="newPassword">
    New Password
  </label>
  <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
  <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
    <div *ngIf="newPassword.errors.required">New Password is required.</div>
  </div>

  <label for="confirmPassword">
    Confirm Password
  </label>
  <input type="password" class="form-control" id="confirmPassword"formControlName="confirmPassword">
  <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
    <div *ngIf="confirmPassword.errors.required">Confirm Password is required.</div>
  </div>
  <div class="alert alert-danger" *ngIf="confirmPassword.valid && form.invalid && form.errors.passwordNotMatch">
    Confirm Password does not match with New Password.
  </div>
  <button class="btn btn-primary">Change Password</button>
</form>